body{
    width: 100%;
    height: 109vh;
    background: white;
    position: relative;
}
main{
    display: flex;
    flex-direction: row;
}
/* navigation */
.navigation{
    width: 13%;
    height: 109vh;
    background-color: rgb(248, 239, 252);
}

.naviImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-bottom: 10px;
}
.naviImage img{
    border-radius: 8px;
    height: 75px;
}
.naviImage div{
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(89, 89, 247);
    font-weight: 500;
}

.navBars{
    margin-top: 30px;
    padding-top: 10px;
    height: 460px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.navBars div{
    margin-bottom: 35px;
}
.navBars li{
    padding: 7px;
    list-style: none;
    font-family: sans-serif;
    cursor: pointer;
}

.navs{
    display: flex;
    background-color: rgb(248, 239, 252);
    padding-right: 10px;
}
.navs:hover{
    background: white;
    border-right: 4px solid rgb(8, 92, 148);
}
/* main body */
.mainBody{
    width: 88%;
    height: 100%;
    background-color: white;
    margin-left: 15px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6;
}
/* logo */
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    background: blue;
}
.institute{
    font-size: 11px;
    margin-left: 8px;
}
.institute h2{
    font-size: 14px;
    font-weight: 700;
}
.institute span{
    font-size: 14px;
}
.mobileDetails{
    display: none;
} 
.headernot{
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerSearch input{
    background-color: rgb(248, 239, 252);
    height: 30px;
    width: 190px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
.noti{
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px;
}
.notiprofil img{
    border-radius: 30px;
}
.discription{
    background-color: rgb(248, 239, 252);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
}
.dis2{
    margin-left:50%;
    display: flex;
}
.subDis2{
   margin-left: 80px;
   display: flex;
}

.subDis2 button{
   border: none;
   outline: none;
}
.subDis2:hover{
    color: blue;
    padding: 2px;
}
/* dashboard */
.dashboard{
    display: "";
}
.brifInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.subbrif2{
    display: flex;  
}
.subbrif2 div{
    margin-right: 70px;
    font-family: sans-serif;
}
.subbrif2 h2{
    color: rgb(8, 92, 148);
    font-size: 17px;
    font-weight: 700;
}
.subbrif2 h5{
    
}
.subbrif{
   color: rgb(8, 92, 148);
}
.subbrif span{
    font-size: 13px;
    color: rgb(21, 120, 185);
}


.acadamicInfo{
    background-color: rgb(248, 239, 252);
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 2px solid rgb(172, 161, 161);
    font-family: sans-serif;
    margin-top: 50px;
}
.acadamicInfo p{
    color: rgb(21, 120, 185);
}
.acadamicInfo span{
    font-weight: 700;
}
.infoma{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.acadamicNotification{
    background-color: rgb(223, 221, 150);
    width: 90%;
    padding: 3px;
    padding-left: 7px;
    margin-top: 50px;
}

/* profile */
.profile{
    display: none;
}
.profileInfomation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.information{
    display: flex;
    align-items: center;
     border-bottom: 1px solid blue;
     padding-right: 5px;
     padding-bottom: 5px;
}
.information input{
    outline: none;
    background-color: aqua;
    border: none;
}
.personalInformation{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.firstRow div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.firstRow h2{
    color: rgb(40, 92, 236);
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
.firstRow h4{
   color: rgb(68, 63, 63);
   font-family: sans-serif;
   font-size: 12px;
}
.secondRow div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.secondRow div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.secondRow h4{
   color: rgb(68, 63, 63);
   font-family: sans-serif;
   font-size: 12px;
}
.secondRow h2{
    color: rgb(40, 92, 236);
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
/* about progarm */
.aboutProgram{
   display: none  ;
}
.programAb div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.programAb h2{
    color: rgb(40, 92, 236);
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
.programAb h4{
   color: rgb(68, 63, 63);
   font-family: sans-serif;
   font-size: 12px;
}

/* result */
.result{
    display: none;
    margin-top: 20px;
}
.resulttable{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    margin-right: 20px;
}
.resulttable thead tr{
    background-color: rgb(240, 233, 233);
     text-align: left;
     font-family: bold;
}
.resulttable th,
.resulttable td{
    padding: 12px 85px;

}
.resulttable tbody tr{
    border-bottom: 1px solid rgb(238, 227, 227);
    background-color: rgba(211, 211, 218, 0.918);
}
.resulttable tbody tr:last-of-type{
    border-bottom: 2px solid rgb(199, 186, 186) ;
}
/* sumarry table */

.summarytable{
    border-collapse: collapse;
    font-size: 16px;
    min-width: 200px;
    margin-top: 20px;
}
.summarytable thead tr{
    background-color: rgb(240, 233, 233);
     text-align: left;
     font-family: bold;
}
.summarytable th,
.summarytable td{
     padding: 12px 80px;
}
.summarytable tbody tr{
    border-bottom: 2px solid rgb(238, 227, 227);
}

.resultBtn{
    margin-top: 20px;
}
.resultBtn button{
    border: none;
    outline: none;
    padding: 8px;
    background: rgba(211, 211, 218, 0.918);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 3px;
}
.resultBtn button:hover{
    background-color: rgb(167, 158, 158);
}
.moreDetails{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.moreDetails select{
    outline: none;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: blue;
}
.resultNote{
    margin-bottom: 13px;
    font-family: sans-serif; 
}
/* Course registration */

.registrationOfCourse{
    display: ;
}
.courseRegistration{
    display: none;
}
.registrationNote{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.registrationNote div{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 13px;
}
.registrationNote h2{
    font-family: sans-serif;
    color: rgb(63, 61, 61);
}
.composery{
    min-width: 400px;
    border-collapse: collapse;
    font-size: 15px;

}
.composery thead tr{
    background-color: rgb(240, 233, 233);
    text-align: left;
    font-family: bold;
}
.composery th,
.composery td{
    padding: 12px 85px;
}
.composery tbody tr:last-of-type{
    border-bottom: 4px solid rgb(240, 233, 233);
}
.status{
    background-color: rgb(241, 70, 70);
    padding: 10px;
    color: white;
    font-size: 30px;
}
/* elective courses */
.elective{
    margin-top: 10px;
    border-collapse: collapse;
    min-width: 400px;
    margin-bottom: 20px;
}
.elective thead tr{
     background-color: rgb(240, 233, 233);
    text-align: left;
    font-family: bold;
}
.elective th,
.elective td{
    padding: 10px 85px;
}
.elective tbody tr:last-of-type{
    border-bottom: 4px solid rgb(240, 233, 233);
}
.electivHeading{
    font-family: sans-serif;
    font-size: 16px;
}
/* other informations */
.otherInfos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.otherInfos div{
    font-family: sans-serif;
    font-size: 8px;
}
.otherInfos h4{
    color: blue;
    text-align: center;
    font-size: 13px;
}

/* registerd courses */
.registerdCourse{
    display: none;
}
.registerd{
    min-width: 400px;
    border-collapse: collapse;
    font-size: 15px;
    margin-bottom: 10px;
}
.registerd thead tr{
    background-color: rgb(210, 216, 218);
    text-align: left;
    font-family: bold;
}
.registerd th,
.registerd td{
    padding: 12px 85px;
}
.registerd tbody tr:last-of-type{
    border-bottom: 4px solid rgb(240, 233, 233);
}
.registerd tbody tr{
    background-color: rgb(230, 222, 222);
    border-bottom: 2px solid white;
}
.registeredInfos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;

}
.registeredInfos div{
    font-family: sans-serif;
    font-size: 8px;
}
.registeredInfos h4{
    color: blue;
    text-align: center;
    font-size: 13px;
}

.couseRegBtn{
    margin-top: 10px;
}
.couseRegBtn button{
    border: none;
    background-color: rgb(226, 59, 59);
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.couseRegBtn button:hover{
    background-color: rgb(156, 9, 9);
}
/* hostel registration */
.hostel{
    display: none;
    width: 100%;
    padding-top: 30px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hostelinput{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
.hostelinput div{
    margin-top: 10px;
}
.hostelinput label{
    font-size: 15px;
    font-family: sans-serif;
}
.hostelinput div input{
    outline: none;
    padding: 5px;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 4px;
    width: 190px;
}
.hostelinput select{
    outline: none;
    padding: 3px;
    margin-top: 6px;
    width: 190px;
}
.ApplyBtn{
    margin-top: 20px;
}
.ApplyBtn button{
    padding: 7px;
    outline: none;
    background-color: rgb(153, 247, 247);
    border: 1px solid bisque;
    width: 80px;
}
.ApplyBtn button:hover{
    background-color: rgb(66, 243, 243);  
}
.hostel h2{
    border-bottom: 2px solid black;
    text-align: center;
    width: 200px;
    padding-bottom: 2px;
}
/* mobbile responsivenes */
@media(max-width:320px){
  body{
        margin: 0px;
        padding: 0px;
    }
    .navigation{
        display: none;
    }
    .institute h2 span{
        font-size: 13px;
    }
    .logo{
        width: 100%;
        background-color: rgb(163, 221, 245);
        padding-top: 0px;
        display: flex;
        justify-content: center;
    }
    .mobileDetails{
        display: block;
    }
    .header{
        width: 100%;
    }
    /* main body */
    .mainBody{
        margin: 4px;
        width: 100%;
    }
    .headernot{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 40%;
    }
    .headernot img{
        width: 80px;
        border-radius: 50%;
    }
    .discription{
        display: none;
    }
    .noti{
        display: none;
    }
    .headerSearch{
        display: none;
    }
}

/* 
 header
    <header>
       <!-- logo -->
       
       <!-- navegation bar -->
       <div class="navbar">
          <nav>
            <ul>
                <li >Home</li>
                <li>Features <div class="moreOthers">
                    <ul>
                        <li id="profile">Profile</li>
                        <li id="course">Course</li>
                        <li id="result">Result</li>
                    </ul>
                </div></li>
                <li>Registration <div class="moreOthers">
                    <ul>
                        <li id="courseReg">Course Registration</li>
                        <li >Hostel Registration</li>
                        <li>Schoolfees Registration </li>
                    </ul>
                </div></li>
               <li>About</li>
            </ul>
          </nav>
       </div>

       <!-- login -->
       <div class="log">
           <button class="login">Login</button>
           <button class="logout">Logout</button>
       </div>
    </header>

    <!-- body -->
    <main>
        <!-- navigation page -->
      <!-- <div class="navigation">
          <h2>navigation</h2>
      </div> -->


      <div class="pages">
        <section id="landingPage">
            <div class="pageDiscribtion">
               <div>
                    <h2>Education is the key to Success</h2>
                    <p>Making an impact on the Classrooms and communities</p>
               </div>
                <div>
                    <button>
                        Take a tour
                    </button>
                </div>
            </div>
        </section>
        <section class="student">
                <!-- student details -->
            <ul class="studentdetails">
                <li class="detail">
                    <label>STUDENT'S ADM NO.  :</label>
                    <h3 class="studentAdmissionNumber">131021316</h3>
                </li>
                <li class="detail">
                    <label>STUDENT'S NAME  :</label>
                    <h3 class="studentName">JAMES VICTOR</h3>
                </li>
                <li class="detail">
                    <label>DATE OF BIRTH  :</label>
                    <h3 class="studentDate">24-05-1995</h3>
                </li>
                <li class="detail">
                    <label>PROGRAM  :</label>
                    <h3 class="studentProgram">Diploma in Eletrical Enginneering</h3>
                </li>
                <li class="detail">
                    <label>BATCH/YEAR : </label>
                    <h3 class="studentBatch"> Dec 3. 2020/3rd</h3>
                </li>
            </ul>
            <!-- student result sheet -->
            <div class="resultsheet">
                

                <!-- result sumation -->

                <!-- complement -->

                
            </div>
        </section>

        <!-- administrative block -->

        <section class="admin">
            <h3>ADMINISTRATIVE SECTION</h3>
            <!-- upload result -->
            <div class="content">
                <div class="uploadResult">
                    <h2>Upload Result</h2>
                    <div class="inputBlock">
                        <div >
                            <label>Student Adm No :</label>
                            <input type="text" placeholder="input admission number" class="studentAdmNo">
                        </div>
                        <div>
                            <label>Exam Year :</label>
                            <select class="studentExamYear">
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>Course:</label><br>
                        <select class="courseOfferd">
                            <option value="EMS101">Electrical Machines</option>
                            <option value="CED101">Computer aided electrical drawing</option>
                            <option value="EPG101">Electrical Power generation</option>
                            <option value="TDS101">Transmission and Distribution</option>
                            <option value="BMS112">Basic Management skills</option>
                            <option value="ESS113">Estimation and Specification</option>
                            <option value="EEM112">Electrical energy utility and Management</option>
                            <option value="EMS102">Electrical Motor Control</option>
                            <option value="EIS104">Electrical Installation</option>
                            <option value="PAH104">PLC and HDL</option>
                        </select>
                        <input type="text" placeholder="input student scors" class="scors">
                    </div>
                    <div>
                        <input class="btn" type="button" value="SUBMIT">
                    </div>
                </div>
                <!-- register student -->
            <div class="registerStudent">
                    <h2>Register Here</h2>
                    <div class="regDetails">
                        <div>
                        <label>Student Name :</label>
                        <input type="text" class="regName" placeholder="input student name">
                        </div>
                        
                        <div>
                            <label>Student RegNo:</label>
                            <input type="text" class="regNo success" placeholder="input student registration number">
                        </div>
                        
                        <div>
                            <label>Date Of Birth:</label>
                            <input type="text" class="regDateofBirth" placeholder="input student date of birth">
                        </div>
                        
                        <div>
                            <label>Program:</label>
                            <input type="text" class="regProgram" placeholder="input program enrolled for">
                        </div>
                        
                        <div>
                            <label>Batch:</label>
                        <input type="text" class="regBatch" placeholder="input student name">
                        </div>
        
                        <!-- registration botton -->
                    <div class="regBtn">
                        <button>
                            Register
                        </button>
                    </div>
                </div>
            </div>
                
        </section>

        <!-- student course registration -->
        <section class="studentCourseReg">
            <h2>Course Registration</h2>
            <div class="listOfcourse">
            
                <!-- composery courses -->

                <table class="composery">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Course code</th>
                            <th>Course title</th>
                            <th>Credit unit</th>
                            <th>Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><input class="selectedCourse" value="Electrical Machines" type="checkbox">Electrical Machines</td>
                            <td>EMS101</td>
                            <td>1</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input class="selectedCourse" value="Computer aided electrical drawing" type="checkbox">Computer aided electrical drawing</td>
                            <td>CED101</td>
                            <td>4</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><input class="selectedCourse" value="Electrical Power generation" type="checkbox">Electrical Power generation</td>
                            <td>EPG101</td>
                            <td>3</td>
                            <td>second</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><input class="selectedCourse" value="Transmission and Distribution" type="checkbox">Transmission and Distribution</td>
                            <td>TDS101</td>
                            <td>4</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><input class="selectedCourse" value="Basic Management skills" type="checkbox">Basic Management skills</td>
                            <td>BMS112</td>
                            <td>4</td>
                            <td>second</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><input class="selectedCourse" value="Estimation and Specification" type="checkbox"> Estimation and Specification</td>
                            <td>ESS113</td>
                            <td>3</td>
                            <td>second</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><input class="selectedCourse" value="Electrical energy utility and Management" type="checkbox">Electrical energy utility and Management</td>
                            <td>EEM112</td>
                            <td>2</td>
                            <td>second</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><input class="selectedCourse" value="Electrical Motor Control" type="checkbox">Electrical Motor Control</td>
                            <td>EMS102</td>
                            <td>4</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><input class="selectedCourse" value="Electrical Installation" type="checkbox">Electrical Installation</td>
                            <td>EIS104</td>
                            <td>3</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><input class="selectedCourse" value="PLC and HDL" type="checkbox">PLC and HDL</td>
                            <td>PAH104</td>
                            <td>4</td>
                            <td>second</td>
                        </tr>
                    </tbody>
                </table>

                <!-- elective -->

                <table class="elective">
                    <h4>Elective courses</h4>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Course code</th>
                            <th>Course title</th>
                            <th>Credit unit</th>
                            <th>Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><input class="selectedCourse" value="Electrical Machines" type="checkbox">Electrical Machines</td>
                            <td>EMS101</td>
                            <td>1</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input class="selectedCourse" value="Computer aided electrical drawing" type="checkbox">Computer aided electrical drawing</td>
                            <td>CED101</td>
                            <td>4</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><input class="selectedCourse" value="Electrical Power generation" type="checkbox">Electrical Power generation</td>
                            <td>EPG101</td>
                            <td>3</td>
                            <td>second</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><input class="selectedCourse" value="Transmission and Distribution" type="checkbox">Transmission and Distribution</td>
                            <td>TDS101</td>
                            <td>4</td>
                            <td>first</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><input class="selectedCourse" value="Basic Management skills" type="checkbox">Basic Management skills</td>
                            <td>BMS112</td>
                            <td>4</td>
                            <td>second</td>
                        </tr>
            
                    </tbody>
                </table>
            </div>
            <!-- summary -->
            <div class="summary">
               <div>
                <label for="Admin No">Admin No  : </label>
                <span>1710311016</span>
               </div>

               <div>
                <label for="Name">Name  : </label>
                <span>James Victor Ochula</span>
               </div>

               <div>
                <label for="Name">Minimum units : </label>
                <span>45</span>
               </div>

               <div>
                <label for="totalUnit">Maximum units  : </label>
                <span>49</span>
               </div>

               <div>
                <label for="totalUnit">Total units  : </label>
                <span class="totalUnit">48</span>
               </div>

            </div>

            <div class="courseBtn">
               <button> submit </button>
            </div>
        </section>

        <!-- hostel registration -->

      </div>
    </main>
    <!-- footer -->
    
    <footer>

    </footer>
*/